In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv', encoding='utf8')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1651,tt0335121,25000000,30114487,Godsend,Greg Kinnear|Rebecca Romijn|Robert De Niro|Cam...,Nick Hamm,"When a miracle becomes a nightmare, evil is born.",A couple agree to have their deceased son clon...,102,Drama|Horror|Science Fiction|Thriller,Lions Gate Films|2929 Productions|Artists Prod...,4/30/2004,4.7,2004
1678,tt0486655,70000000,135560026,Stardust,Claire Danes|Charlie Cox|Michelle Pfeiffer|Rob...,Matthew Vaughn,This Summer A Star Falls. The Chase Begins.,In a countryside town bordering on a magical l...,127,Adventure|Fantasy|Romance|Family,Paramount Pictures|Ingenious Film Partners|Di ...,8/9/2007,7.0,2007
979,tt0948470,215000000,752215857,The Amazing Spider-Man,Andrew Garfield|Emma Stone|Rhys Ifans|Denis Le...,Marc Webb,The untold story begins.,Peter Parker is an outcast high schooler was a...,136,Action|Adventure|Fantasy,Columbia Pictures|Laura Ziskin Productions|Mar...,6/27/2012,6.4,2012
1581,tt0338751,116000000,102000000,The Aviator,Leonardo DiCaprio|Cate Blanchett|Kate Beckinsa...,Martin Scorsese,"For some men, the sky was the limit. For him, ...",Martin Scorseseâ€™s Oscar-winning biopic about...,170,Drama,Appian Way|Forward Pass|Cappa Productions|Warn...,12/25/2004,6.7,2004
1102,tt0322589,18000000,62646763,Honey,Jessica Alba|Mekhi Phifer|Joy Bryant|Romeo Mil...,Bille Woodruff,Her dream. Her terms,Honey Daniels (Jessica Alba) dreams of making ...,94,Music,Universal Pictures|Marc Platt Productions|NuAm...,11/24/2003,6.0,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов
# heres anover preprocessings for columns and some functions:

# adding column with profit (revenue - budget)
data['profit'] = list(data.revenue - data.budget)

# preparing data in columns with '|' symbol
for column in ['cast', 'director', 'genres', 'production_companies']:
    data[column] = data[column].apply(lambda name: name.split('|'))

''' The formating function for answers in format like: '''
''' answers['1'] = '2. Spider-Man 3 (tt0413300)' '''


def my_answer(index):
    a = f'{index}. {data.loc[index].original_title} ({data.loc[index].imdb_id})'
    return a


# the time given in the dataset is in string format.
# So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

'''The function for converting month number to month name, ex. 12 to декабрь'''


def month_name(month_number):
    month_dict = {1: "Январь", 2: "Февраль",
                  3: "Март", 4: "Апрель", 5: "Май",
                  6: "Июнь", 7: "Июль", 8: "Август",
                  9: "Сентябрь", 10: "Октябрь", 11: "Ноябрь",
                  12: "Декабрь"}
    return month_dict[month_number]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# мой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
# код для решения данного вопроса:
index_1 = data[data.budget == data.budget.max()].index[0]
answers['1'] = my_answer(index_1)
answers['1']

'723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [7]:
sort_budget = data.sort_values('budget', ascending=False)
a = sort_budget.index[0]
b = sort_budget.original_title.iloc[0]
c = sort_budget.imdb_id.iloc[0]
f'{a}. {b} ({c})'

'723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
index_2 = data[data.runtime == data.runtime.max()].index[0]
answers['2'] = my_answer(index_2)
answers['2']

'1157. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
index_3 = data[data.runtime == data.runtime.min()].index[0]
answers['3'] = my_answer(index_3)
answers['3']

'768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = str(round(data.runtime.mean()))
answers['4']

'110'

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = str(round(data.runtime.median()))
answers['5']

'107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
index_6 = data[data.profit == data.profit.max()].index[0]
answers['6'] = my_answer(index_6)
answers['6']

'239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [13]:
index_7 = data[data.profit == data.profit.min()].index[0]
answers['7'] = my_answer(index_7)
answers['7']

'1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = str(data[data.revenue > data.budget].revenue.count())
answers['8']

'1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
max_profit_2008 = data[data.release_year == 2008].profit.max()
index_9 = data[data.profit == max_profit_2008].index[0]
answers['9'] = my_answer(index_9)
answers['9']

'599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
range_12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
index_10 = range_12_14[range_12_14.profit == range_12_14.profit.min()].index[0]
answers['10'] = my_answer(index_10)
answers['10']

'1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [17]:
# эту задачу тоже можно решать разными подходами
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = data.genres.explode().value_counts().index[0]
answers['11']

'Drama'

ВАРИАНТ 2

In [18]:
genres_list = data.genres.sum()
answers['11'] = Counter(genres_list).most_common()[0][0]
answers['11']

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
# отфильтруем df по доходу > 0 и соберём все значения жанра
# в единый список genres_list
genres_list = data[data.profit > 0].genres.sum()
# преобразуем полученный список в объект Series
genres_series = pd.Series(genres_list)
# получим ответ применив метод value_counts к объекту genres_series
answers['12'] = genres_series.value_counts().index[0]
answers['12']

'Drama'

## 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [20]:
df_exploded = data.explode('director').groupby(['director']).sum()
df_grouped = df_exploded[df_exploded.revenue == df_exploded.revenue.max()]
answers['13'] = df_grouped.index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
df_exploded = data.explode('director').explode('genres')
df_grouped = df_exploded[df_exploded.genres.str.match('Action', na=False)]
answers['14'] = df_grouped.director.value_counts().index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
df_sorted = data[data.release_year == 2012].explode('cast')
df_grouped = df_sorted.groupby(['cast']).sum().revenue.sort_values(ascending=False)
answers['15'] = df_grouped.index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
high_budget = data[data.budget > data.budget.mean()]
answers['16'] = high_budget.cast.explode().value_counts().index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
df_exploded = data.explode('cast').explode('genres')
sorted_serials = df_exploded[df_exploded.cast == 'Nicolas Cage'].genres.value_counts()
answers['17'] = sorted_serials.index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
df_exploded = data.explode('production_companies')
df_sorted = df_exploded[(df_exploded.production_companies == 'Paramount Pictures')]
index_18 = df_sorted[df_sorted.profit == df_sorted.profit.min()].index[0]
answers['18'] = my_answer(index_18)
answers['18']

'925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
the_best_year = data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)
answers['19'] = str(the_best_year.index[0])
answers['19']

'2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
df_exploded = data.explode('production_companies')
df_sorted = df_exploded[df_exploded.production_companies.str.contains('Warner', na=False)]
the_best_year = df_sorted.groupby(['release_year']).sum().profit.sort_values(ascending=False)
answers['20'] = str(the_best_year.index[0])
answers['20']

'2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
the_best_month = data.release_date.dt.month.value_counts().index[0]
answers['21'] = month_name(the_best_month)
answers['21']

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
answers['22'] = str(data[(data.release_date.dt.month == 6)|
                         (data.release_date.dt.month == 7)|
                         (data.release_date.dt.month == 8)].imdb_id.count())
answers['22']

'450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
df_exploded = data.explode('director')
df_winter = df_exploded[(df_exploded.release_date.dt.month == 1)|
                        (df_exploded.release_date.dt.month == 2)|
                        (df_exploded.release_date.dt.month == 12)]
answers['23'] = df_winter.director.value_counts().index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
small_df = pd.DataFrame({'companies': data.production_companies, 'len_title': data.original_title.str.len()}, index=[x for x in range(len(data))])
df_exploded = small_df.explode('companies')
series_grouped = df_exploded.groupby(['companies']).mean().len_title.sort_values(ascending=False)
answers['24'] = series_grouped.index[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
small_df = pd.DataFrame({'companies': data.production_companies, 'owerview_len': data.overview.str.split(' ').str.len()}, index=[x for x in range(len(data))])
series_grouped = small_df.explode('companies').groupby(['companies']).mean().owerview_len.sort_values(ascending=False)
answers['25'] = series_grouped.index[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
top_1 = data.vote_average.quantile(q=0.99) # using quantile method for seaching rating top 1%
data[data.vote_average >= top_1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609
28,tt1895587,20000000,88346473,Spotlight,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,"[Drama, Thriller, History]","[Participant Media, Open Road Films, Anonymous...",2015-11-06,7.8,2015,68346473
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",2014-07-30,7.9,2014,603312399
124,tt2245084,165000000,652105443,Big Hero 6,"[Scott Adsit, Ryan Potter, Daniel Henney, T.J....","[Don Hall, Chris Williams]",From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,"[Adventure, Family, Animation, Action, Comedy]","[Walt Disney Pictures, Walt Disney Animation S...",2014-10-24,7.8,2014,487105443
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",2014-10-01,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2014-02-26,7.9,2014,144600318
155,tt2980516,15000000,121201940,The Theory of Everything,"[Eddie Redmayne, Felicity Jones, Harry Lloyd, ...",[James Marsh],His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,"[Drama, Romance]",[Working Title Films],2014-11-26,7.8,2014,106201940
177,tt2582846,12000000,305151265,The Fault in Our Stars,"[Shailene Woodley, Ansel Elgort, Nat Wolff, La...",[Josh Boone],One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,"[Romance, Drama]","[Fox 2000 Pictures, Temple Hill Entertainment,...",2014-05-16,7.8,2014,293151265
283,tt0485947,47000000,3547209,Mr. Nobody,"[Jared Leto, Diane Kruger, Linh Äan Pháº¡m, Sa...",[Jaco Van Dormael],"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,"[Science Fiction, Drama, Romance, Fantasy]","[Pan EuropÃ©enne Production, Virtual Films]",2009-09-11,7.8,2009,-43452791
316,tt1187043,9000000,70000000,3 Idiots,"[Aamir Khan, Kareena Kapoor, Madhavan, Sharman...",[Rajkumar Hirani],Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,"[Drama, Comedy, Romance]",[Vidhu Vinod Chopra Productions],2009-12-23,7.8,2009,61000000
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",2010-07-14,7.9,2010,665500000
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema, The Saul Zaen...",2001-12-18,7.8,2001,778368364
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema, The Saul Zaen...",2002-12-18,7.8,2002,847287400
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",2002-09-24,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",2003-12-01,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",2013-12-25,7.9,2013,292000694
1188,tt1798709,23000000,47351251,Her,"[Joaquin Phoenix, Scarlett Johansson, Rooney M...",[Spike Jonze],A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,"[Romance, Science Fiction, Drama]",[Annapurna Pictures],2013-12-18,7.8,2013,24351251
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",2013-10-18,7.9,2013,167000000
1205,tt1392214,46000000,122126687,Prisoners,"[Hugh Jackman, Jake Gyllenhaal, Paul Dano, Mar...",[Denis Villeneuve],Every moment matters.,When Keller Dover's daughter and her friend go...,153,"[Drama, Thriller, Crime]","[Alcon Entertainment, Madhouse Entertainment, ...",2013-09-18,7.8,2013,76126687
1213,tt0790636,5000000,55198285,Dallas Buyers Club,"[Matthew McConaughey, Jennifer Garner, Jared L...",[Jean-Marc VallÃ©e],Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,"[Drama, History]","[Universal Studios, Universal Pictures, Voltag...",2013-09-07,7.8,2013,50198285
1444,tt0482571,40000000,109676311,The Prestige,"[Hugh Jackman, Christian Bale, Michael Caine, ...",[Christopher Nolan],Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,"[Drama, Mystery, Thriller]","[Touchstone Pictures, Syncopy]",2006-10-19,7.8,2006,69676311
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,"[Jim Carrey, Kate Winslet, Elijah Wood, Mark R...",[Michel Gondry],I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,"[Science Fiction, Drama, Romance]","[Anonymous Content, This Is That Productions, ...",2004-03-19,7.8,2004,52258126
1688,tt0469494,25000000,76181545,There Will Be Blood,"[Daniel Day-Lewis, Paul Dano, Dillon Freasier,...",[Paul Thomas Anderson],There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,[Drama],"[Miramax Films, Ghoulardi Film Company, Paramo...",2007-12-28,7.8,2007,51181545
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",2000-10-11,7.9,2000,30723096

In [34]:
answers['26'] = f'{my_answer(9)}, {my_answer(599)}, {my_answer(1191)}'
answers['26']

'9. Inside Out (tt2096673), 599. The Dark Knight (tt0468569), 1191. 12 Years a Slave (tt2024544)'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
# создал пустой словарь для данных формата 'Имя1, Имя2: 10'
actors_pairs = {}
for cast_list in data.cast:  # цикл по спискам актеров в каждом фильме
    cast_list.sort()  # сортирую актёров, чтобы избежать дублирования
    pairs = list(combinations(cast_list, 2))  # создаю пару из актёров
    for pair_names in pairs:   # цикл для записи данных в словарь
        actors_pairs[pair_names] = 0  # записываю пары и счётчик на 0

for cast_list in data.cast:  # цикл по спискам актеров в каждом фильме
    cast_list.sort()  # сортирую актёров, чтобы избежать дублирования
    pairs = list(combinations(cast_list, 2))  # создаю пару из актёров
    for pair_names in pairs:   # цикл для записи данных в словарь
        actors_pairs[pair_names] += 1  # считаем и записываем в словарь

# перебираем словарь и ищем пары с максимальным значением
for names in actors_pairs.keys():
    if actors_pairs[names] == max(actors_pairs.values()):
        print(names, ':', actors_pairs[names])

('Daniel Radcliffe', 'Emma Watson') : 8
('Daniel Radcliffe', 'Rupert Grint') : 8
('Emma Watson', 'Rupert Grint') : 8

In [36]:
answers['27'] = 'Emma Watson & Rupert Grint'
answers['27']

'Emma Watson & Rupert Grint'

ВАРИАНТ 2

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': '9. Inside Out (tt2096673), 599. The Dark Knight (tt0468569), 1191. 12 Years a Slave (tt2024544)',
 '27': 'Emma Watson & Rupert Grint'}

In [38]:
# и убедиться что ни чего не пропустил)
len(answers)

27